body{
    background-color: var(--gray-dark);
    color: white;
}

.class-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.main-form{
    padding: 5%;
    background: var(--cyan);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
}
.main-form h3{
    text-align: center;
}
.class-container form{
    padding: 10%;
}
.custom-btn{
    width: 45%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.main-form .custom-btn{
    font-weight: 600;
    color: #fff;
}
#tip{
    text-align: center;
}
#enter-class{
    background-color: #343a40;
}
#create-class{
    background-color: #3F51B5;
}
#buttons{
    text-align: center;
}
#app-description{
    text-align: center;
    margin-top: 50px;
}
#app-description h1{
    text-align: center;
}
#app-description svg{
    width: 50px;
    height: 50px;
    fill: white;
}
.modal-content{
    background-color: var(--dark);
}
.navbar-brand svg{
    height: 30px;
    width: 30px;
}
.navbar{
    background-color: #17a2b8;
}
#leave-class{
    width: 140px;
    background: var(--danger);
    padding: 5px 10px;
    text-align: center;
}
#class-display-name{
    text-align: center;
    margin-top: 10px;
}
#chat{
    height: calc(100% - 50px);
    background: var(--gray);
    padding: 20px;
    overflow: auto;
}
#chat-container{
    height: 80vh;
    width: 90vw;
    max-width: 100%; /* Fix for teacher page */
    margin: 0 auto;
    transform: translate(0px, calc(((100vh - 60px) - 80vh )/2));
}
#chat-input-group{
    width: 100%;
    background-color: var(--primary);
}
#chat-input{
    width: calc(100% - 50px);
    height: 50px;
}
#send-message-btn{
    height: 30px;
    width: 30px;
    transform: translate(0px, -3px);
    margin-left: 6px;
    cursor: pointer;
}
.message-group{
    width: 100%;
    display: inline-block;
    font-size: 1.2em;
    margin-bottom: 5px;
}
.from{
    font-weight: 700;
}
.teacher{
    color: var(--warning);
}
.message{
    overflow-wrap: anywhere;
}
#nav-center-text{
    font-size: 1.3em;
}
.hightlight {
    color: #02424a;
    font-weight: 500;
}
#leave-class-approve-btn{
    background-color: var(--cyan);
}
.tab-content{
    height: 97%;
}
a{
    color: #00bcd4;
}
a:hover {
    color: #00707e !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #00bcd4;
}
.info-btn{
    height: 30px;
    transform: translate(0px, -3px);
    float: right;
    cursor: pointer;
}
.ping-btn{
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    cursor: pointer;
}
.student-row{
    padding: 10px;
    border: 2px solid;
    border-radius: .25rem;
    margin: 10px;
}
#class-body{
    overflow: auto;
    height: 80vh;
}
.student-row:hover{
    background-color: #607D8B;
}
#student-modal  .modal-dialog{
    max-width: 90vw;
}
#student-modal .modal-dialog .modal-content{
    height: 90vh;
}
.app-row, .site-row{
    padding: 10px;
    border: 2px solid;
    border-radius: .25rem;
    margin: 10px;
}
#site-block-btn{
    height: 30px;
    width: 30px;
    transform: translate(0px, -3px);
    margin-left: 6px;
    cursor: pointer;
}
#site-input{
    width: calc(100% - 50px);
    height: 50px;
}
#site-input-group{
    width: 100%;
    background-color: var(--primary);
}
#settings-body{
    height: 80vh;
}
.site-tab{
    height: 75%;
    overflow: hidden;
    height: calc(100% - 50px);
}
.row-btn {
    padding: 5px 20px;
    border-radius: 30px;
    transform: translate(0px, -5px);
    cursor: pointer;
}