.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.main-form{
    padding: 5%;
    background: var(--cyan);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
}
.main-form h3{
    text-align: center;
}
.login-container form{
    padding: 10%;
}
.btnSubmit{
    width: 49%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.main-form .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: var(--dark);
}
.main-form .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
body{
    background-color: var(--gray-dark);
    color: white;
}
#app-description{
    margin: 50px;
    text-align: center;
}